*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(1, 93, 5);
}

button:hover{
    background-color: rgb(1, 93, 5);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(1, 93, 5); }

header{
    background-color: rgb(245,245,245);
    z-index: 1;
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(1, 93, 5);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(1, 93, 5);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/taller-mecanico.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#upifix .container{
    text-align: center;
    padding: 200px 12px;
}

#contenido{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#contenido .container{
    padding: 150px 12px;
}

#contenido h2{
    margin-top: 0;
    font-size: 3.2em;
}

#contenido p{
    display: none;
}

#contenido .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;

}
#integrantes{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#integrantes .container{
    padding: 150px 12px;
}

#integrantes h2{
    margin-top: 0;
    font-size: 3.2em;
}

#integrantes p{
    display: none;
}

#integrantes .icarta {
    background-size: cover;
    padding: 53px 0px;
    margin: 30px;
    border-radius: 15px;
    height: 400px;
}
.icarta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Daniel.jpg");
    background-position: center;

}

.icarta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Selene.jpg");
}

.icarta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Daniela.jpg");

}
.icarta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Rafael.jpg");

}
.icarta:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/mecanico.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/proveedores.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/Factura.jpg");

}
.carta:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: rgb(30,30,30);
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: left;
    font-size: 1em;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn:hover{
    cursor: pointer;
  }
@media (min-width: 850px){
    header{
        width: 100%;
    }
    .admincontent{
        text-align: center;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    #ClientesForm{
        display: grid;
        width: 30%;
        margin: 0 auto;
    }
    #AutosForm{
        display: grid;
        width: 30%;
        margin: 0 auto;
    }
    .formulario{
        margin: 0 auto;
        width: 85%;
        padding-bottom: 25px;
    }
    .formulario h1{
       text-align: center;
    }
    .formularioC{
        margin: 0 auto;
        width: 85%;
        padding-bottom: 25px;
    }
    .formularioC h1{
       text-align: center;
    }
    .formularioA{
        margin: 0 auto;
        width: 85%;
        padding-bottom: 25px;
    }
    .formularioA h1{
       text-align: center;
    }
    .ediminar{
        margin: 0 auto;
    }
    #tablaC{
        margin: 0 auto;
        width: 85%;
    }
    #tablaA{
        margin: 0 auto;
        width: 85%;
    }
    button{
        margin-top: 15px;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #upifix .container{
        display: flex;
        justify-content: space-evenly;
    }

    #upifix .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #upifix h2{
        margin-top: 0px;
    }

    #upifix .img-container{
        background-image: url("../img/AUTOMOVIL.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 500px; 
    }

    #contenido .programas{
        display: flex;
        justify-content: center;
    }

    #contenido p{
        display: block;
        margin-bottom: 30px;
    }

    #contenido h2{
        font-size: 4em;
    }

    #contenido h3{
        margin-top: 0;
    }

    #contenido .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #integrantes .cartas_integrantes{
        display: flex;
        justify-content: center;
    }

    #integrantes p{
        display: block;
        margin-bottom: 30px;
    }

    #integrantes h2{
        font-size: 4em;
    }

    #integrantes h3{
        margin-top: 0;
    }
    #integrantes .icarta {
        background-size: cover;
        padding: 53px 0px;
        margin: 30px;
        border-radius: 15px;
        height: auto;
    }
    .icarta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/Daniel.jpg");
    
    }
    
    .icarta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/Selene.jpg");
    }
    
    .icarta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/Daniela.jpg");
    
    }
    .icarta:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/Rafael.jpg");
    
    }
    .icarta:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/MECANICO.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/PROVEEDORES.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/FACTURA.jpg");

    }

    #caracteristicas{
        background-image: url("../img/Conocenos.png");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}